<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<header>
   
</header>
<body>

    <br>
    <br>
<div><h4>Nuestra Historia</h4></div>
<br>
<p>Bienvenidos a W/M, tu destino definitivo para todo lo relacionado con el cine. Desde nuestro lanzamiento en [2022], nos hemos comprometido a ofrecer a nuestros usuarios las últimas noticias, críticas y análisis de las películas más recientes, así como información detallada sobre los clásicos del cine que han dejado una huella en la historia.</p>
<br>
<div><h4>Nuestra Misión</h4></div>
<br>
<p>Nuestra misión es ser el punto de encuentro para los amantes del cine de todas partes del mundo. Queremos proporcionar una plataforma donde puedas descubrir nuevas películas, compartir tus opiniones y conectar con otros apasionados por el séptimo arte.</p>
<br>
<div><h4>Qué Ofrecemos</h4></div>
<br>
  <ul>
    <li><strong>Críticas y Reseñas:</strong> Analizamos las últimas películas para ayudarte a decidir qué ver a continuación.</li>
    <li><strong>Noticias y Actualizaciones:</strong> Mantente al día con las noticias más recientes de la industria cinematográfica, desde nuevos estrenos hasta anuncios de premios.</li>
    <li><strong>Trailers y Avances:</strong> Mira los trailers y avances de las películas más esperadas.</li>
    <li><strong>Listas y Recomendaciones:</strong> Encuentra listas curadas de películas por género, director, o temática para todos los gustos.</li>
    <li><strong>Foro de Discusión:</strong> Únete a nuestra comunidad y comparte tus pensamientos y opiniones sobre tus películas favoritas.</li>
  </ul>
  <br>
  <div><h4>Nuestro Equipo</h4></div>
  <br>
   <p>Nuestro equipo está compuesto por cinéfilos apasionados, críticos de cine experimentados y redactores dedicados que trabajan incansablemente para ofrecerte el mejor contenido. Cada uno de nosotros trae una perspectiva única, pero todos compartimos un amor profundo por el cine.</p>
  <br>
  <div><h4>Únete a Nosotros</h4></div>
  <br>
  <p>Queremos que W|M sea una comunidad donde todos los amantes del cine se sientan bienvenidos. Síguenos en nuestras redes sociales para estar al tanto de las últimas actualizaciones, y no dudes en participar en nuestras discusiones y eventos. ¡Nos encantaría escuchar tus opiniones y sugerencias!</p>
  <br>
  <br>
  <br>
</body>
</html>