.card{background-color: rgb(31, 11, 70);}
body { background-color: rgb(213, 206, 225);}
h5 {color: aquamarine;text-align:center ;}
P {color: rgb(81, 138, 119);}
.card-img-top{background-color: rgb(97, 42, 165);}

 



