<!-- BARRA DE NAVEGACION TRAIDA DE BOOTSTRAP -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
        <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">W|M - Todo un mundo de peliculas</span>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/principal">Principal
          </a>

          <li class="nav-item">
            <a class="nav-link active" routerLink="/peliculas">Peliculas
            </a>
      <li class="nav-item">
        <a class="nav-link active" routerLink="nosotros">Nosotros</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar Pelicula" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>